@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-default {
    @apply text-zinc-900 dark:text-zinc-100;
  }

  .text-header {
    @apply text-lg font-bold text-default;
  }

  .button-search-bar {
    @apply bg-zinc-600 dark:bg-zinc-500 text-white rounded-full hover:bg-zinc-300 dark:hover:bg-zinc-600 focus:outline-none transition-colors;
  }

  .icon-color-default {
    @apply text-zinc-500 dark:text-zinc-400;
  }

  .icon-color-darken {
    @apply text-zinc-600 dark:text-zinc-400;
  }

  .extension-version-color {
    @apply text-zinc-500 dark:text-zinc-400;
  }

  .dialog-close-button {
    @apply rounded-lg p-1 text-zinc-500 dark:text-zinc-400 hover:text-zinc-700 dark:hover:text-zinc-200 focus:outline-none transition-colors;
  }

  .bg-chip-default {
    @apply bg-zinc-200 dark:bg-zinc-700 hover:bg-zinc-300 dark:hover:bg-zinc-600 focus:outline-none transition-colors;
  }

  /* .bg-chip- */

  .bg-chip-selected {
    @apply bg-zinc-200 dark:bg-zinc-700;
  }

  .chip-delete-button {
    @apply text-zinc-500 hover:text-zinc-900 dark:text-zinc-400 dark:hover:text-zinc-300;
  }
}

:root {
  --foreground-color: oklch(27.4% 0.006 286.033);
  --background-color: oklch(96.7% 0.001 286.375);
  --scrollbar-track-color: transparent;
  --scrollbar-thumb-color: oklch(55.2% 0.016 285.938);
  --scrollbar-thumb-hover-color: oklch(70.5% 0.015 286.067);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: oklch(96.7% 0.001 286.375);
    --background-color: oklch(27.4% 0.006 286.033);
    --scrollbar-track-color: transparent;
    --scrollbar-thumb-color: oklch(55.2% 0.016 285.938);
    --scrollbar-thumb-hover-color: oklch(70.5% 0.015 286.067);
  }
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
  min-width: 600px;
  min-height: 600px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color);
  opacity: 0.8;
}
